html {
  font-size: 62.5%;
  font-family: 'Gen Jyuu Gothic', 'Noto Sans TC', sans-serif;
}

body {
  font-size: 1.6rem;
}

.text-shadow {
  text-shadow: 3px 3px 3px #000000b2;
}

.box-shadow {
  box-shadow: 0px 0px 10px #0000001a;
}

.early-bird {
  width: 178px;
  height: 29px;

  @apply bg-white border border-orange-dark rounded-full;
}

.content {
  max-width: 1280px;
}

.product {
  height: 273px;
}

.spring {
  width: 345px;
  height: 138px;
  @apply mb-6;
}

.event-lg {
  width: 345px;
  height: 215px;
}

.event {
  width: 345px;
  height: 100px;
  @apply box-shadow mb-6;
}

.special {
  width: 165px;
  height: 81px;
}

.carousel {
  height: 40vw;
}

.carousel .carousel-cell {
  @apply w-full h-full;
}

.carousel .flickity-page-dots {
  @apply -bottom-7;
}

.carousel .flickity-prev-next-button {
  display: none;
}

.carousel .dot {
  width: 8px;
  height: 8px;
  @apply bg-gray-300 opacity-100 bottom-6;
}

.carousel .dot.is-selected {
  width: 17px;
  height: 8px;
  @apply rounded-full bg-orange;
}

@media (min-width: 1280px) {
  .carousel {
    height: 28vw;
  }

  .carousel .carousel-cell {
    width: 71%;
    @apply h-full;
  }

  .carousel .flickity-page-dots {
    @apply bottom-6;
  }

  .carousel .dot {
    width: 8px;
    height: 8px;
    @apply bg-gray-100 opacity-100 bottom-6;
  }

  .carousel .flickity-prev-next-button {
    display: block;
  }

  .flickity-prev-next-button.previous {
    left: calc(14.5% - 22px);
  }

  .flickity-prev-next-button.next {
    left: calc(85.5% - 22px);
  }

  .spring {
    width: 390px;
    height: 156px;
  }

  .event {
    width: 270px;
    height: 100px;
    @apply box-shadow;
  }

  .special {
    width: 285px;
    height: 140px;
  }
}
