<div class="carousel-cell">
  <a class="relative flex h-full w-full">
    <img
      class="absolute h-full w-full"
      src="https://i.picsum.photos/id/1021/2000/800.jpg?blur=4&grayscale&hmac=TPKf_0yysl_EdjgbzzPNnterfQeReOQ7Lx0Wu5SHFZQ"
      alt=""
    />
    <div class="absolute text-white w-full h-full flex flex-col px-6 lg:items-center lg:top-1/2">
      <div class="text-16 lg:text-28 sm:mt-auto lg:mt-0 text-shadow lg:text-center">貓咪卯毛咪毛貓咪・週年慶</div>
      <div class="text-12 lg:text-18 sm:mb-4 text-shadow lg:text-center">低敏無穀挑嘴全年齡貓糧1kg</div>
      <button class="early-bird hidden lg:block lg:mb-auto lg:text-center text-14 text-orange-dark">
        獨家售賣・早鳥限定優惠
      </button>
    </div>
  </a>
</div>
