<div class="mt-18 text-4xl text-gray-500">超酷活動</div>
<div class="h-3px w-12 mt-5 mb-12 bg-orange rounded-full"></div>

<div class="flex w-full flex-wrap flex-col items-center lg:flex-row">
  <div class="event-lg rounded-lg overflow-hidden mb-6 lg:mr-6">
    <a class="flex flex-col h-full w-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/15/345/215.jpg?hmac=9VsidTyDg0RK2vV0-7zBdeC6CV6m7CCuFwSl1plVFXA" alt="" />
    </a>
  </div>

  <div class="flex flex-grow flex-col justify-between">
    <div class="flex justify-between flex-wrap flex-col lg:flex-row">
      <a class="event flex h-40 rounded-lg overflow-hidden" href="http://google.com">
        <div class="w-40">
          <img
            src="https://i.picsum.photos/id/108/100/100.jpg?hmac=qdy5bur8nX4zEQG8PdhxmYqlNYwEGgcRNymWNQbR6SI"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-between text-14 w-68 p-4">
          <div>【MEET】全自動智能貓砂機商品字數最多兩...</div>
          <div class="self-end">
            $ 99,999 + <img class="inline-block" src="https://picsum.photos/12" alt="" />
            <span class="text-orange-dark">9,999</span>
          </div>
        </div>
      </a>

      <a class="event flex h-40 rounded-lg overflow-hidden" href="http://google.com">
        <div class="w-40">
          <img
            src="https://i.picsum.photos/id/108/100/100.jpg?hmac=qdy5bur8nX4zEQG8PdhxmYqlNYwEGgcRNymWNQbR6SI"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-between text-14 w-68 p-4">
          <div>【MEET】全自動智能貓砂機商品字數最多兩...</div>
          <div class="self-end">
            $ 99,999 + <img class="inline-block" src="https://picsum.photos/12" alt="" />
            <span class="text-orange-dark">9,999</span>
          </div>
        </div>
      </a>

      <a class="event flex h-40 rounded-lg overflow-hidden" href="http://google.com">
        <div class="w-40">
          <img
            src="https://i.picsum.photos/id/108/100/100.jpg?hmac=qdy5bur8nX4zEQG8PdhxmYqlNYwEGgcRNymWNQbR6SI"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-between text-14 w-68 p-4">
          <div>【MEET】全自動智能貓砂機商品字數最多兩...</div>
          <div class="self-end">
            $ 99,999 + <img class="inline-block" src="https://picsum.photos/12" alt="" />
            <span class="text-orange-dark">9,999</span>
          </div>
        </div>
      </a>
    </div>

    <div class="flex justify-between flex-wrap flex-col lg:flex-row">
      <a class="event flex h-40 rounded-lg overflow-hidden" href="http://google.com">
        <div class="w-40">
          <img
            src="https://i.picsum.photos/id/108/100/100.jpg?hmac=qdy5bur8nX4zEQG8PdhxmYqlNYwEGgcRNymWNQbR6SI"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-between text-14 w-68 p-4">
          <div>【MEET】全自動智能貓砂機商品字數最多兩...</div>
          <div class="self-end">
            $ 99,999 + <img class="inline-block" src="https://picsum.photos/12" alt="" />
            <span class="text-orange-dark">9,999</span>
          </div>
        </div>
      </a>

      <a class="event flex h-40 rounded-lg overflow-hidden" href="http://google.com">
        <div class="w-40">
          <img
            src="https://i.picsum.photos/id/108/100/100.jpg?hmac=qdy5bur8nX4zEQG8PdhxmYqlNYwEGgcRNymWNQbR6SI"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-between text-14 w-68 p-4">
          <div>【MEET】全自動智能貓砂機商品字數最多兩...</div>
          <div class="self-end">
            $ 99,999 + <img class="inline-block" src="https://picsum.photos/12" alt="" />
            <span class="text-orange-dark">9,999</span>
          </div>
        </div>
      </a>

      <a class="event flex h-40 rounded-lg overflow-hidden" href="http://google.com">
        <div class="w-40">
          <img
            src="https://i.picsum.photos/id/108/100/100.jpg?hmac=qdy5bur8nX4zEQG8PdhxmYqlNYwEGgcRNymWNQbR6SI"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-between text-14 w-68 p-4">
          <div>【MEET】全自動智能貓砂機商品字數最多兩...</div>
          <div class="self-end">
            $ 99,999 + <img class="inline-block" src="https://picsum.photos/12" alt="" />
            <span class="text-orange-dark">9,999</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
