<div class="flex justify-between w-full flex-wrap">
  <div class="product rounded-lg overflow-hidden xl:w-72 w-66 box-shadow mb-6 xl:mb-0">
    <a class="flex flex-col h-full" href="http://google.com">
      <div class="h-72">
        <img src="https://picsum.photos/180" alt="" />
      </div>
      <div class="flex flex-col flex-grow justify-between p-4 leading-8 text-14">
        <div>天然草本植物萃取，愛貓的每日泌尿與腎臟保健...</div>
        <div class="text-orange-dark">$ 999,999</div>
      </div>
    </a>
  </div>

  <div class="product rounded-lg overflow-hidden xl:w-72 w-66 box-shadow mb-6 xl:mb-0">
    <a class="flex flex-col h-full" href="http://google.com">
      <div class="h-72">
        <img src="https://picsum.photos/180" alt="" />
      </div>
      <div class="flex flex-col flex-grow justify-between p-4 leading-8 text-14">
        <div>天然草本植物萃取，愛貓的每日泌尿與腎臟保健...</div>
        <div class="text-orange-dark">$ 999,999</div>
      </div>
    </a>
  </div>

  <div class="product rounded-lg overflow-hidden xl:w-72 w-66 box-shadow mb-6 xl:mb-0">
    <a class="flex flex-col h-full" href="http://google.com">
      <div class="h-72">
        <img src="https://picsum.photos/180" alt="" />
      </div>
      <div class="flex flex-col flex-grow justify-between p-4 leading-8 text-14">
        <div>天然草本植物萃取，愛貓的每日泌尿與腎臟保健...</div>
        <div class="text-orange-dark">$ 999,999</div>
      </div>
    </a>
  </div>

  <div class="product rounded-lg overflow-hidden xl:w-72 w-66 box-shadow mb-6 xl:mb-0">
    <a class="flex flex-col h-full" href="http://google.com">
      <div class="h-72">
        <img src="https://picsum.photos/180" alt="" />
      </div>
      <div class="flex flex-col flex-grow justify-between p-4 leading-8 text-14">
        <div>天然草本植物萃取，愛貓的每日泌尿與腎臟保健...</div>
        <div class="text-orange-dark">$ 999,999</div>
      </div>
    </a>
  </div>

  <div class="product rounded-lg overflow-hidden xl:w-72 w-66 box-shadow mb-6 xl:mb-0">
    <a class="flex flex-col h-full" href="http://google.com">
      <div class="h-72">
        <img src="https://picsum.photos/180" alt="" />
      </div>
      <div class="flex flex-col flex-grow justify-between p-4 leading-8 text-14">
        <div>天然草本植物萃取，愛貓的每日泌尿與腎臟保健...</div>
        <div class="text-orange-dark">$ 999,999</div>
      </div>
    </a>
  </div>

  <div class="product rounded-lg overflow-hidden xl:w-72 w-66 box-shadow mb-6 xl:mb-0">
    <a class="flex flex-col h-full" href="http://google.com">
      <div class="h-72">
        <img src="https://picsum.photos/180" alt="" />
      </div>
      <div class="flex flex-col flex-grow justify-between p-4 leading-8 text-14">
        <div>天然草本植物萃取，愛貓的每日泌尿與腎臟保健...</div>
        <div class="text-orange-dark">$ 999,999</div>
      </div>
    </a>
  </div>
</div>
