<div class="flex justify-between w-full flex-wrap lg:mt-24">
  <div class="special rounded-lg overflow-hidden mb-6">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/366/285/140.jpg?hmac=9Olwd67nS8sGFagQXS4vzC_YuVQYE7ajVFTsWTym824" alt="" />
    </a>
  </div>

  <div class="special rounded-lg overflow-hidden mb-6">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/366/285/140.jpg?hmac=9Olwd67nS8sGFagQXS4vzC_YuVQYE7ajVFTsWTym824" alt="" />
    </a>
  </div>

  <div class="special rounded-lg overflow-hidden mb-6">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/366/285/140.jpg?hmac=9Olwd67nS8sGFagQXS4vzC_YuVQYE7ajVFTsWTym824" alt="" />
    </a>
  </div>

  <div class="special rounded-lg overflow-hidden mb-6">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/366/285/140.jpg?hmac=9Olwd67nS8sGFagQXS4vzC_YuVQYE7ajVFTsWTym824" alt="" />
    </a>
  </div>
</div>
