<div class="flex justify-between w-full flex-wrap">
  <div class="spring rounded-lg overflow-hidden">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/873/390/156.jpg?hmac=RyYXSnEWlhZACFRE46wqK8YIWNE1Y6bS376Dw2XZj8Y" alt="" />
    </a>
  </div>

  <div class="spring rounded-lg overflow-hidden">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/873/390/156.jpg?hmac=RyYXSnEWlhZACFRE46wqK8YIWNE1Y6bS376Dw2XZj8Y" alt="" />
    </a>
  </div>

  <div class="spring rounded-lg overflow-hidden">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/873/390/156.jpg?hmac=RyYXSnEWlhZACFRE46wqK8YIWNE1Y6bS376Dw2XZj8Y" alt="" />
    </a>
  </div>
</div>
