<div class="mt-18 text-4xl text-gray-500">春季活動</div>
<div class="h-3px w-12 mt-5 mb-12 bg-orange rounded-full"></div>

<div class="flex w-full flex-wrap flex-col items-center lg:flex-row">
  <div class="spring rounded-lg overflow-hidden lg:mr-6">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/873/390/156.jpg?hmac=RyYXSnEWlhZACFRE46wqK8YIWNE1Y6bS376Dw2XZj8Y" alt="" />
    </a>
  </div>

  <div class="spring rounded-lg overflow-hidden lg:mr-6">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/873/390/156.jpg?hmac=RyYXSnEWlhZACFRE46wqK8YIWNE1Y6bS376Dw2XZj8Y" alt="" />
    </a>
  </div>

  <div class="spring rounded-lg overflow-hidden">
    <a class="flex flex-col h-full" href="http://google.com">
      <img src="https://i.picsum.photos/id/873/390/156.jpg?hmac=RyYXSnEWlhZACFRE46wqK8YIWNE1Y6bS376Dw2XZj8Y" alt="" />
    </a>
  </div>
</div>
